* {
  box-sizing: border-box;
}

/* INCLUDING FONT "LATO" LOCALLY */

/* Lato Light */
@font-face {
  font-family: Lato;
  src: url("/dist/fonts/Lato-Light.woff") format("woff");
  src: url("/dist/fonts/Lato-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Lato Regular */
@font-face {
  font-family: Lato;
  src: url("/dist/fonts/Lato-Regular.woff") format("woff");
  src: url("/dist/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Lato Bold */
@font-face {
  font-family: Lato;
  src: url("/dist/fonts/Lato-Bold.woff") format("woff");
  src: url("/dist/fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: Lato, sans-serif;
  color: hsl(0deg 0% 15%);
  margin-bottom: 120px;
  justify-content: center;
  min-height: calc(100vh - 120px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* HIDING ARROWS IN NUMBER INPUT FIELDS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/*
Classes that are defined later in the stylesheet will override those defined early in the stylesheet.
Therefore we have the basic button class up here.
Other button classes are defined further down together with other classes for their respective sections.
*/

.basic-button {
  background-color: hsl(90deg 55% 23%);
  color: white;
  border: none;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.basic-button:hover {
  background-color: hsl(107deg 55% 15%);
}

/* HEADER */

.header-wrapper {
  width: 100vw;
  height: 10rem;
  line-height: 10rem;
  margin-bottom: 3rem;
  background-color: hsl(76deg 55% 53%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-heading {
  color: hsl(186deg 92% 11%);
  font-size: 3rem;
  margin: 0;
}

.header-user {
  width: 100vw;
}

/* The following classes overwrite styling of the datepicker library */
/* stylelint-disable selector-class-pattern */
.react-datepicker__week .react-datepicker__day--selected {
  background-color: hsl(76deg 55% 53%);
}

.react-datepicker__week .react-datepicker__day--in-range {
  background-color: hsl(76deg 55% 53%);
}

.react-datepicker__week .react-datepicker__day:hover {
  background-color: hsl(76deg 55% 63%);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background-color: hsl(76deg 55% 63%);
}
/* stylelint-enable selector-class-pattern */

.usr-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(76deg 55% 53%);
  margin-bottom: 0.2rem;
  position: sticky;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

.spreadsheet {
  min-height: 100vh;
}

.footer {
  z-index: 100;
  width: 100%;
  top: calc(100vh - 120px);
  position: fixed;
  height: 120px;
  background-color: white;
}

.header-year {
  font-size: 2.25rem;
  color: hsl(186deg 92% 11%);
  margin: 0 1rem;
}

.time-travel {
  display: flex;
}

.label-week-day {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.week-button {
  background-color: hsl(186deg 30% 94%);
  color: hsl(185deg 92% 11%);
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  margin: 1.3rem 0;
}

.week-button svg {
  margin-right: 0.5rem;
}

.week-button:hover {
  color: hsl(185deg 92% 20%);
}

.week-arrow-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 0.5rem;
}

.week-arrow {
  height: 2rem;
}

.settings-wrapper {
  position: relative;
}

.settings-box {
  position: absolute;
  right: 1rem;
  top: 3.3rem;
  background-color: hsl(186deg 30% 94%);
  padding: 0.8rem;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 hsla(0deg 0% 0% 15%);
}

.settings-list-item {
  list-style-type: none;
  cursor: pointer;
}

.settings-list-link {
  padding: 0.3rem 2.5rem 0.3rem 0.8rem;
  border: none;
  border-radius: 3px;
}

.settings-list-link:hover {
  background-color: hsl(186deg 30% 86%);
}

/* LOGIN */

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(70deg 55% 98%);
}

.login-info {
  margin: 2rem 0 3rem;
}

.login-info a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.login-info a:hover {
  color: hsl(185deg 92% 16%);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 30rem;
  background-color: white;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
  color: hsl(185deg 92% 11%);
}

.login-label {
  margin: 0 0 0.25rem;
}

.login-field {
  margin-bottom: 1.5rem;
  background: hsl(70deg 55% 95%);
  border: 1px solid hsl(76deg 55% 77%);
  border-radius: 4px;
  padding: 0.5rem;
}

.login-button {
  padding: 1rem 2rem;
  margin: 2rem auto 0;
  background-color: hsl(185deg 92% 16%);
}

.login-button:hover {
  background-color: hsl(185deg 92% 11%);
}

/* TIME REPORTING */

.cell {
  width: 100%;
  border: 1px solid hsl(0deg 0% 83%);
  padding: 0.5rem;
}

.cell-container {
  display: flex;
  align-items: center;
}

.recent-container {
  background-color: hsl(0deg 0% 97%);
  padding: 0.5rem 1.5rem 2.5rem;
}

.footer-container {
  margin-top: 0.2rem;
  padding: 0.5rem 1rem;
  background-color: hsl(0deg 0% 97%);
  display: flex;
}

.favorites-container {
  background-color: hsl(0deg 0% 97%);
  padding: 2.5rem 1.5rem 0.5rem;
  margin-bottom: 0.2rem;
}

.issue-label {
  background-color: white;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  display: flex;
}

.issue-label-text {
  margin: 0;
  min-width: 4rem;
}

.dropdown-button {
  margin-right: 1rem;
  background-color: hsl(186deg 30% 94%);
  border: none;
  border-radius: 2rem;
  color: hsl(185deg 92% 11%);
}

.dropdown-button svg {
  margin-left: 0.2rem;
}

.dropdown-button:hover {
  color: hsl(185deg 92% 20%);
}

.save-button {
  margin: 2rem;
  min-width: 10rem;
  padding: 1rem 1.5rem;
}

.save-changes {
  justify-content: end;
  text-align: end;
}

.plus-button {
  width: 4.5rem;
  background-color: hsl(288deg 46% 22%);
  margin-left: 1rem;
}

.plus-button:hover {
  background-color: hsl(276deg 46% 16%);
}

.plus-button img {
  width: 1.8rem;
}

.star-icon {
  width: 1.7rem;
}

.hide-icon {
  width: 2rem;
  margin-top: 0.5rem;
}

.star-button {
  background-color: hsl(0deg 0% 97%);
  border: none;
  display: flex;
}

.grip-container {
  justify-content: space-evenly;
  padding: 0;
}

.grip-container > * {
  margin: 0 0 0 0.75rem;
  padding: 0;
}

.grip {
  height: 2rem;
}

.quick-add-input {
  padding: 0.5rem 0.75rem;
  margin: 0 0 0 3.75rem;
  outline: none;
}

.not-outline {
  outline: none;
}

.invalid {
  border: 2px solid hsl(17deg 91% 31%);
}

.valid {
  border: 2px solid hsl(84deg 55% 33%);
}

.validation-icon {
  width: 3.5rem;
  margin-left: -2.8rem;
}

.hiden {
  visibility: hidden;
}

/* The unsaved changes alert message box */
.unsaved-alert-p {
  color: hsl(26deg 91% 42%); /* Red */
  margin: 3rem 1rem 2rem;
  text-align: right;
}

.comment-container {
  position: relative;
}

.area-container {
  position: absolute;
  z-index: 1;
  width: 90%;
}

.comment {
  background-color: transparent;
  border-style: inset;
  width: 0;
  height: 0;
  padding: 0;
  border-width: 0 0.8em 0.8em 0;
  border-color: transparent hsl(0deg 0% 15%) transparent;
  position: absolute;
  top: 0;
  right: 0;
}

.close-btn {
  height: 1.5em;
  width: 1.5em;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 20.5rem;
  background-color: transparent;
}

.close-img {
  position: inherit;
  height: inherit;
  width: inherit;
  top: 0;
  right: 0;
}

.comment-unfilled {
  border-color: transparent hsl(0deg 0% 83%) transparent;
}

.comment-area {
  width: 22rem;
  border: 1px solid hsl(0deg 0% 83%);
  padding: 0.2rem;
}

.toast-wrapper {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

@keyframes slidein {
  from {
    margin-left: -22rem;
  }

  to {
    margin-left: 0;
  }
}

.toast-box {
  width: 20rem;
  height: 5rem;
  margin-top: 0.75rem;
  box-shadow: 0 5px 15px 0 hsla(0, 0%, 0%, 0.15);
  border-radius: 4px;
  padding: 0.2rem;
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
  animation-duration: 1s;
  animation-name: slidein;
}

.toast-success {
  background-color: hsl(76deg 55% 65%);
  color: hsl(107deg 55% 15%);
}

.toast-warning {
  background-color: hsl(26deg 91% 65%);
  color: hsl(6deg 91% 15%);
}

.toast-info {
  background-color: hsl(186deg 30% 73%);
  color: hsl(185deg 92% 11%);
}

.toast-message {
  margin: auto;
  color: inherit;
}

.toast-button {
  background-color: transparent;
  border: none;
  color: inherit;
}

.toast-button img {
  width: 1.5rem;
}

.login-error-container {
  width: 100%;
  border: 2px solid hsl(10deg 91% 22%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.6rem;
  border-radius: 4px;
}

.login-error-text {
  margin: 0;
  color: hsl(10deg 91% 22%);
}

.login-error-img {
  height: 1.8rem;
  margin-right: 1rem;
}

.loading-overlay {
  height: 100vh;
  position: fixed;
  z-index: 101;
  overflow: hidden;
}

.help-wrapper {
  background-color: hsl(0deg 0% 97%);
  padding: 0 3rem 3rem;
  position: relative;
  margin: 100px 0;
}

.help-title {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-left: 2rem;
  color: hsl(186deg 92% 11%);
}

.help-subtitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  color: hsl(186deg 92% 11%);
}

.help-info {
  font-size: 1.2rem;
  margin-top: 1.5rem;
}

.overview-img {
  height: 30rem;
  width: 65rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.weektravel-img {
  height: 25rem;
  width: 27rem;
  margin-right: 1rem;
  margin-top: 2rem;
}

.centered {
  display: flex;
  justify-content: center;
}
