* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  color: hsl(0deg 0% 15%);
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

/* HIDING ARROWS IN NUMBER INPUT FIELDS */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: textfield;
}

/* HEADER */

.header-wrapper {
  width: 100vw;
  text-align: center;
  height: 10rem;
  line-height: 10rem;
  margin-bottom: 3rem;
  background-color: #a7c947;
}

.header-heading {
  font-size: 3rem;
  margin: 0;
}

.header-user {
  width: 100vw;
}

.header-time-travel {
  background-color: hsl(76deg 55% 53%);
}

.react-datepicker__week .react-datepicker__day--selected {
  background-color: hsl(76deg 55% 53%);
}

.react-datepicker__week .react-datepicker__day--in-range {
  background-color: hsl(76deg 55% 53%);
}
.react-datepicker__week .react-datepicker__day:hover {
  background-color: hsl(76deg 55% 63%);
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background-color: hsl(76deg 55% 63%);

}

.header-week {
  width: 100%;
  text-align: center;
}

.label-week-day {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.week-button {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

/* LOGIN */

.login-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 25rem;
}

.login-form input {
  margin-bottom: 1.5rem;
}

.login-button {
  padding: 1rem 2rem;
  margin: 0 auto;
}

/* TIME REPORTING */

.cell {
  width: 100%;
  border: 1px solid hsl(0deg 0% 83%);
  padding: 0.5rem;
}

.cell-container {
  display: flex;
  align-items: center;
}

.recent-container {
  background-color: hsl(0deg 0% 97%);
  padding: 1.5rem;
}

.issue-row {
  padding: 0.75rem 0;
}

.issue-label {
  background-color: white;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
}

.basic-button {
  background-color: hsl(76deg 55% 53%);
  color: hsl(0deg 0% 15%);
  border: none;
  border-radius: 4px;
  box-shadow: 0 3px 6px hsl(0deg 0 15%);
  box-shadow: 0 2px 4px hsl(0deg 0 12%);
  transition-duration: 0.2s;
  margin-left: 1rem;
}

.dropdown-button {
  margin-right: 1rem;
}

.save-button {
  margin: 2rem;
  padding: 1rem 1.5rem;
}

.basic-button:hover {
  background-color: hsl(76deg 55% 42%);
  box-shadow: 0 1px 3px hsl(0deg 0 12%);
  box-shadow: 0 1px 2px hsl(0deg 0 24%);
}

.basic-button:disabled {
  background-color: hsl(76deg 55% 77%);
  color: hsl(84deg 55% 33%);
}

.save-button-container {
  display: flex;
  justify-content: end;
}

.plus-button {
  width: 5%;
}

.plus-button img {
  width: 50%;
}

.star-container {
  display: flex;
  align-items: center;
}

.star {
  width: 1.7rem;
}

.grip-container {
  justify-content: end;
  padding: 0;
}

.grip {
  height: 2rem;
}

.quick-add-input {
  padding: 0.5rem 0.75rem;
  margin: 0 1rem 0 3.75rem;
  outline: none;
}

.invalid {
  border: 2px solid red;
}

.valid {
  border: 2px solid green;
}
